<script src="../scripts/dashboard/sessionChecker.js"></script>
<form id="registerForm">
    <h1>Usuários / Cadastrar</h1>
    <div class="row-content">
        <div class="container-content">
            <label for-id="name">Nome</label><br>
            <input type="text" id="firstname" required>
        </div>
        <div class="container-content">
            <label for-id="lastname">Sobrenome</label><br>
            <input type="text" id="lastname" required>
        </div>
        </div>
        <div class="row-content">
            <div class="container-content">
                <label for-id="phonenumber">Telefone</label><br>
                <input type="tel" id="phonenumber" placeholder="(99) 99999-9999" required pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" title="Número de telefone precisa ser no formato (99) 99999-9999" maxlength="15">
            </div>
            <div class="container-content">
                <label for-id="birth-date">Data de Nascimento</label><br>
                <input type="date" id="birthdate" required>
            </div>
        </div>
        <div class="row-content">
            <div class="container-content">
                <label for-id="email">Email</label><br>
                <input type="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninvalid="this.setCustomValidity('Formato de email invalido.')" 
                onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>
        <div class="row-content">
            <div class="container-content">
                <label for-id="password">Senha</label><br>
                <input type="password" id="password" required minlength="6">
            </div>
            <div class="container-content">
                <label for-id="confirm-pass">Repetir senha</label><br>
                <input type="password" id="confirmpass" required minlength="6">
            </div>
        </div>
        <div class="container-content">
            <label>
                <input type="checkbox" id="estado" /> Ativo
            </label>
            <button type="submit">Cadastrar</button>
        </div>

</form>
